
<section id="location">
	<div class="modal-header">
	    <h2>Baldwin Location</h2>
	</div>

	<div class="modal-body">
		<div class="col-sm-6 col-md-6">
			<img class="storeimg" style="width: 350px; height:250px"src="../../assets/images/baldwin.jpg">
		</div>


		<div>
			<p>
			The middle child in the Jimmy's Coffee legacy , Jimmy's on Baldwin opened in March 2013 in Kensington Market, the heart of downtown Toronto. 

			This location boasts a large welcoming space with a huge back patio, perfect for those once in a lifetime days when Toronto is warm

			When it's inevitably cold, curl up with a book in front of our cute fire, or relax and chat over one our famous coconut milk lattes  

			Kensington Market itself is the perfect destination spot for locals and tourists alike. Whether you're in the market to do your groceries, eat delicious tacos, or just to people watch, Jimmy's is always the perfect 
			accompaniment.
			</p>

		</div>
	<hr>