
<section id="location">
	<div class="modal-header">
	    <h2>Gerrald Location</h2>
	</div>

	<div class="modal-body">
		<div class="col-sm-6 col-md-6">
			<img class="storeimg" style="width: 350px; height:250px"src="../../assets/images/gerrald.jpg">
		</div>


		<div>
			<p>
			The newest addition to the Jimmy's legacy, Jimmy's on <strong>Bay & Gerrard</strong> is located at 84 Gerrard St. West, one west of Bay Street. 

			Nestled amongst hospitals, offices and condos, the newly renovated heritage building boasts three floors, including a study lounge and boardroom (Available for Rent) for those extra special meetings, all while still retaining the style and qualities unique to Jimmy's.

			The turn out and enthusiasm at our third coffee shop has been better than we could have imagined, and we look forward to getting to know our neighbours and having the pleasure of serving you the best coffee in Toronto.
			</p>

		</div>
	<hr>