
<section id="history">
	<div class="modal-header">
	    <h2>History</h2>
	</div>

	<div class="modal-body">
		<p>
		Jimmy’s Coffee was born on December 6, 2009 at 107 Portland Street in Downtown Toronto. Phil Morrison (a serial entrepreneur, coffee enthusiast, and founder of Jimmy's Coffee) wanted to create a cool coffee place with a sense of community. He found the home of Jimmy’s in complete disarray, gave it some love, and created a new hub of coffee and relief for the hectic Downtown King Street West area. Since then, Jimmy’s has gone on to open two more locations, Kensington Market and Bay & Gerrard, in just over two years with no sign of stopping!

		From outstanding coffee, to delicious edibles, to entertaining conversation with baristas and patrons alike, Jimmy’s prides itself on giving you a great coffee experience from the moment you walk in the door. 

		Jimmy’s Coffee is so proud of appearing in NY Times, Eye Magazine, and Now Magazine. Our stores are regularly ranked in the Top 10 Independent Coffee Joints in Toronto.
		</p>
	</div>
	<hr>

	<div class="modal-body">
	<div class="col-sm-4 col-md-4">
		<h5>Grinder</h5>
            <p class="subtitle">
            Grinders are just as, if not more, important than your machine. A poor grinder can inadvertently heat the coffee – destroying the oils that make for great aroma, body and flavour. It can have an inconsistent grind that will make your shots pull funny. 

			That's why, at Jimmy's, we like to treat our beans right.
			So let us introduce the <em>Mazzer Robur:</em>
			<ul>
				<li>Hopper: 1.8 kg.</li>
				<li>Weight: She’s a beast.</li>
				<li>Burrs: Conical burrs which allow it to grind effectively while rotating relatively slowly, usually below 500 rpm, reducing frictional heating of the ground coffee, thus preserving maximum aroma.</li>
				<li>Time to grind a 19g double shot: 3.05 SECONDS.</li>
			</ul>

            </p>
	</div>

	<div class="col-sm-4 col-md-4">
		<h5>The beans</h5>
            <p class="subtitle">
			Our staff have tried all the beans that you can think of and all the ones you can’t. 
			We chose Classic Gourmet Coffee (Ranked consistantly on BlogTO's list of Top Roasters).  
			They built the first coffee plant in North America made entirely of stainless steel from start to finish, with the consideration of conservation of energy and resources, ultimately producing consistently superior beans at the end of the roasting process. 
			They create outstanding coffee, and we have the best team to take their vision and put it in your cup. Find out more here!
            </p>
	</div>  

	<div class="col-sm-4 col-md-4">
		<h5>Machine</h5>
            <p class="subtitle">
 			Used at the World Barista Championships, our machine, “Aurelia” by Nouva Simonelli, is much like everything at Jimmy’s Coffee: fast and practical, while delivering great performance with a sleek design. It will satisfy your aesthetic and coffee tastes
            </p>
	</div>   
</div>
	<div class="modal-footer">
<!-- 		<button type="button" class="modal__wrap">Close</button> -->
	</div>
</section>


  