	<!-- Section: intro -->
    <section id="intro" class="intro">
	
		<div class="slogan">
		<!--<h4>Welcome!</h4> -->
		</div>
    </section>
	<!-- /Section: intro -->


	<!-- Section: about -->
    <section id="about" class="home-section text-center">
		<div class="heading-about">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow bounceInDown" data-wow-delay="0.4s">
					<div class="section-heading">
					<h2>About us</h2>
					<i class="fa fa-2x fa-angle-down"></i>

					</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="container">

		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<hr class="marginbot-50">
			</div>
		</div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
				<div class="wow bounceInUp" data-wow-delay="0.2s">
                <div class="team boxed-grey">
                    <div class="inner">
						<h5>History</h5>
                        <p class="subtitle">Jimmy's coffee</p>
                        <div class="avatar hover11">
                        	<figure><img src="../../assets/images/191.jpg" alt="" class="img-responsive img-circle hov" ng-click="ctrl.openHistory('lg')"/></figure>
                        </div>
                    </div>
                </div>
				</div>
            </div>
			<div class="col-sm-4 col-md-4">
				<div class="wow bounceInUp" data-wow-delay="0.5s">
                <div class="team boxed-grey">
                    <div class="inner">
						<h5>Staff</h5>
                        <p class="subtitle">Our team members</p>
                        <div class="avatar hover11">
                        	<figure><img src="../../assets/images/crew.jpg" alt="" class="img-responsive img-circle" ng-click="ctrl.open('lg')"/></figure>
                        </div>
                    </div>
                </div>
				</div>
            </div>
			<div class="col-sm-4 col-md-4">
				<div class="wow bounceInUp" data-wow-delay="0.8s">
                <div class="team boxed-grey">
                    <div class="inner">
						<h5>Event Retal</h5>
                        <p class="subtitle">On Baldwin & Gerrald</p>
                        <div class="avatar hover11">
                        	<figure><img src="../../assets/images/event.jpg" alt="" class="img-responsive img-circle" ng-click="ctrl.openRent('lg')"/></figure>
                        </div>
                
                    </div>
                </div>
				</div>
            </div>
        </div>		
	</div>
	</section>
	<!-- /Section: about -->


	<!-- Section: Menu -->
    <section id="menu" class="home-section text-center">
		
		<div class="heading-menu">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow bounceInDown" data-wow-delay="0.4s">
					<div class="section-heading">
					<h2>Catering Menu</h2>
					<i class="fa fa-2x fa-angle-down"></i>

					</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="container">
		<div class="row">
			<div class="col-lg-2 col-lg-offset-5">
<!-- 				<hr class="marginbot-50"> -->
			</div>
		</div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
				<div class="wow fadeInLeft" data-wow-delay="0.2s">
                <div class="menu-box">
					<div class="service-desc"><hr>
						<h5>Coffee & Snack</h5>
						<i ng-click="ctrl.down =!ctrl.down" class="fa fa-chevron-circle-down fa-2x icondown"></i>

						<div class="menus" ng-show="ctrl.down">
							<p>GIFT CARDS ALSO AVAILABLE ON REQUEST</p>
							<div class="col-sm-12 col-md-6">
								<h6>Coffee to go</h6>
									<p>Required paper cups, sugar, milk, and/or cream included</p>

									<ul ng-repeat="item in ctrl.items| filter:{category:'coffee'}">
										<li>
										{{item.name}} : ${{item.price}}
										</li>
									</ul>
							</div>
							<div class="col-sm-12 col-md-6">
								<h6>Snack to go</h6>
									<p>Assorted muffins, scones and cookies</p>
									<ul ng-repeat="item in ctrl.items| filter:{category:'snack'}">
										<li>
										{{item.name}} : ${{item.price}}
										</li>
									</ul>
							</div>
						</div>
					</div>
                </div>
				</div>
			</div>
            </div><hr>
			<div class="col-sm-12 col-md-12">
				<div class="wow fadeInUp" data-wow-delay="0.2s">
                <div class="menu-box">
					<div class="service-desc">
						<h5>Our Roaster + Baking Friends Links</h5><i ng-click="ctrl.down2 =!ctrl.down2" class="fa fa-chevron-circle-down fa-2x icondown"></i>
							<div id="links" ng-show="ctrl.down2">
								<div>
									<h6>For more information about our astounding coffee, visit our Roaster:</h6>
									<a href="http://classiccoffee.ca/our-products/" target="_blank">Classic Gourmet Coffee</a>
								<div>&nbsp;
								<div>
									<h6>Scones, Muffins, Cookies, Squares: </h6>
									<a href="http://www.circlesandsquares.ca/" target="_blank">Circle and Squares</a>
								<div>&nbsp;
								<div>
									<h6 style="margin:0">Croissants, Danishes: </h6>
									<a href="http://www.julescafe.ca/products.html" target="_blank">Jules Cafe Patisserie</a>
								<div>&nbsp;
								<div>
									<h6>Brownies: </h6>
									<a href="http://shockinglyhealthy.com/" target="_blank">Shockingly Healty Bakery</a>
								<div>&nbsp;
								</div>
							</div>
					</div><hr>
                </div>
				</div>
            </div>
        </div>		
		</div>
	</section>
	<!-- /Section: Menu -->
	

	<!-- Section: Location -->
    <section id="service" class="home-section text-center bg-gray">
		
		<div class="heading-about">

			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow bounceInDown" data-wow-delay="0.4s">
					<div class="section-heading">
					<h2>Our Location</h2>
					<h6>Click store for more info</h6>
					<i class="fa fa-2x fa-angle-down"></i>

					</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="container">
		<div class="row">
			<div class="col-lg-2 col-lg-offset-5">
				<hr class="marginbot-50">
			</div>
		</div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
				<div class="wow fadeInLeft" data-wow-delay="0.2s">
                <div class="service-box">
					<div class="service-icon">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.6876382258183!2d-79.4035680845022!3d43.654666779121236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34c23eb22fdd%3A0x63c29601297a6520!2s191+Baldwin+St%2C+Toronto%2C+ON+M5T+1L8!5e0!3m2!1sko!2sca!4v1457555159348" width="600" height="450" frameborder="0" style="border:0;width: 100%;height:200px;" allowfullscreen></iframe>
					</div>
					<div class="service-desc">
						<h5 class="locationhover" ng-click="ctrl.openBald('lg')">191 Baldwin Street</h5>
						<p>Mon-Sat: 7am - 7pm </br>
								Sun: 8am - 7pm</p>
					</div>
                </div>
				</div>
            </div>
			<div class="col-sm-4 col-md-4">
				<div class="wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-box">
					<div class="service-icon">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46204.144540411384!2d-79.4843235099922!3d43.632374028973615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34de63c8ec97%3A0x8d1dcb11ba272249!2s107+Portland+St%2C+Toronto%2C+ON+M5V+2N3!5e0!3m2!1sko!2sca!4v1457555520503" width="600" height="450" frameborder="0" style="border:0;width: 100%;height:200px;" allowfullscreen></iframe>
					</div>
					<div class="service-desc">
						<h5 class="locationhover" ng-click="ctrl.openPort('lg')">107 Portland Street</h5>
						<p>7am - 8pm Every Day</p>
					</div>
                </div>
				</div>
            </div>
			<div class="col-sm-4 col-md-4">
				<div class="wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-box">
					<div class="service-icon">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.5099998033106!2d-79.3877175852502!3d43.65836206011611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34ca0f88559b%3A0xf55dd5c28024252!2s82+Gerrard+St+W%2C+Toronto%2C+ON+M5G+1J5!5e0!3m2!1sko!2sca!4v1457555618205" width="600" height="450" frameborder="0" style="border:0;width: 100%;height:200px;" allowfullscreen></iframe>
					</div>
					<div class="service-desc">
						<h5 class="locationhover" ng-click="ctrl.openGerr('lg')">82 Gerrard Street W.</h5>
						<p>Mon - Fri: 7am - 8pm<br>
						Sat - Sun: 8am - 6pm</p>
					</div>
                </div>
				</div>
            </div>
        </div>		
		</div>
	</section>
	<!-- /Section: Location -->
	


	

	<!-- Section: contact -->
    <section id="contact" class="home-section text-center">
		<div class="heading-contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="wow bounceInDown" data-wow-delay="0.4s">
						<div class="section-heading">
						<h2>Contact us</h2>
						<i class="fa fa-2x fa-angle-down"></i>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
		    <div class="row">
		        <div class="col-lg-12">
		            <div class="row">

           				<div class="col-lg-4">
							<div class="widget-contact" >
								<!-- <h5>Jimmmy's coffee</h5> -->
								
								<address>
								  <strong>Phone Number</strong><br>
								  <abbr title="Phone">Portland:</abbr> (416) 901-2289<br>
								  <abbr title="Phone">Baldwin:</abbr> (416) 901-2289<br>
								  <abbr title="Phone">Gerrald:</abbr> (416) 792-1141
								</address>

								<address>
								  <strong>Email</strong><br>
								  Portland: <a href="mailto:#">portland@jimmyscoffee.ca</a><br>
								   Baldwin: <a href="mailto:baldwin@jimmyscoffee.ca">baldwin@jimmyscoffee.ca</a><br>
								   Gerrald:  <a href="mailto:gerrard@jimmyscoffee.ca">gerrard@jimmyscoffee.ca</a>
								</address>

								<address>
								  <strong>Check our SNS!</strong><br>
			                       	<ul class="company-social">
			                            <li class="social-facebook"><a href="https://www.facebook.com/jimmyscoffee" target="_blank"><i class="fa fa-facebook"></i></a></li>
			                            <li class="social-twitter"><a href="https://twitter.com/jimmyscoffee" target="_blank"><i class="fa fa-twitter"></i></a></li>
			                            <li class="social-insta"><a href="https://www.instagram.com/jimmys_coffee/" target="_blank"><i class="fa fa-instagram"></i></a></li>
			                        </ul>
								</address>					
							</div>	
						</div>


		                <form id="contact-form">
		                    <div class="col-md-4">
		                    <div class="boxed-grey grey-box">
		                        <div class="form-group">
		                            <div class="input-group">
		                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
		                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <div class="input-group">
		                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
		                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
		                        </div>
		                        <div class="form-group">
		                            <select id="subject" name="subject" class="form-control" required="required">
		                                <option value="na" selected="">Choose One:</option>
		                                <option value="service">General Customer Service</option>
		                                <option value="suggestions">Event Rental</option>
		                                <option value="product">Catering</option>
		                            </select>
		                        </div>
		                    
		                        <div class="form-group">

		                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
		                                placeholder="Message"></textarea>
		                        </div>

		                        <button type="submit" class="btn btn-skin pull-right" id="btnContactUs">Send Message</button>

							</div>
							</div>
		                </form>

						<div class="col-lg-4">
							<div style="width:230px; margin:0 auto">
							<h5>Yes, we are hiring</h5>
								<p>

								Daydream about coffee, work your butt off every day, and love making peoples day, even at 6 in the morning? Give us your details down below, we <span style="color:#28c3ab">WANT</span> to talk to you!
								</p>	
							</div>			
						</div>

		            </div>
		        </div>
		    </div>	
	</section>
	<!-- /Section: contact -->

	<footer style="background-color: black;">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">

					<p>&copy;Copyright 2016. All rights reserved. <a href="http://www.jimmyscoffee.com/">test</a> by Sunwoo</p>
				</div>
			</div>	
		</div>
	</footer>









