
<section id="location">
	<div class="modal-header">
	    <h2>Portland Location</h2>
	</div>

	<div class="modal-body">
		<div class="col-sm-6 col-md-6">
			<img class="storeimg" style="width: 350px; height:230px"src="../../assets/images/portland.jpg">
		</div>


		<div>
			<p>
			Located in a refurbished victorian town house in  the heart of the King West community, the first store in the Jimmy's Coffee legacy was first opened on December 9th 2009.

			Welcomed by the community with open arms, Jimmy's has become the coffee hub for creatives, entrepreneurs and hard working King West-ers needing a well deserved break, and we're so proud to be there for you when you need us most!
			If it's hot outside, our back patio is a must. A  small secluded spot, the patio is both a great place to catch the sun and some peace and quiet, and is a popular evening spot after work.
			</p>

		</div>
	<hr>