
<section id="rent">
	<div class="modal-header">
	    <h2>Rent</h2>
	</div>

	<div class="modal-body">
		<h3>ON GERRARD:</h3><hr>
		<h4>THREE FLOORS + COFFEE = INSTANT PROMOTION</h4>
		<p>
			Jimmy's on Gerrard is the perfect place to host your next anniversary celebration, art show or staff appreciation party. Available to rent from 8PM until 1AM any day of the week! 

			For five hours, you get full access to our three story shop and one of our handy Jimmy's staff members all evening to help with set up and clean up of your event.
		</p>

		<h4>Jimmy's Boardroom</h4>
		<p>
			Want to hold your meeting at Jimmy's, but don't need the whole 3 stories? 
			Why not hire our private boardroom on the third floor! 
			With ample seating for up to 12 people, a 40 inch flatscreen TV, and unlimited access to high-speed Internet, our boardroom is an impressive place to show Jefferson why YOU deserve the promotion!
		</p>

		<h5>Pricing:</h5>
			<ul><strong>Entire Store</strong>
				<li>$500.00  for full evening (8pm - 1am)</li>
			</ul>
			<ul><strong>Boardroom</strong>
				<li>$25 per hour</li>
				<li>$75 for 1/2 day rental (4 hours)</li> 
				<li>$150 for  full day (7am until 7pm)</li>
				<li>Discounts available for long-term rental</li>
			</ul>
		<p>
			All rentals come with an included 20% discount on our Catering Menu, individual Speciality coffees, and delicious baked goods.<br>
			Note: liquor licenses are to be attained by the individual if required.
		</p>
		<hr>

		<h3>ON BALDWIN:</h3><hr>

		<p>
		Jimmy's on Baldwin is the perfect place to host your next birthday party, book launch or album release, and available to rent from 8PM until 1 AM any day of the week! 
		For five hours you get full access to the store and beautiful back patio. You will have one Jimmy's staff member all evening to help with set up and clean up of your event.<br>
		Note: liquor licenses are to be attained by the individual if required
		</p>

	
		<h5>Pricing:</h5>
			<ul><strong>Entire Store</strong>
				<li>$500.00  for full evening (8pm - 1am)</li>
			</ul>	
		<p>
		All rentals come with an included 20% discount on our Catering Menu, individual Speciality coffees, and delicious baked goods.<br>
		Note: liquor licenses are to be attained by the individual if required.
		</p>
	</div>

	<div class="modal-footer">
<!-- 		<button type="button" class="modal__wrap">Close</button> -->
	</div>
</section>


  